&i2c0 {
    status = "okay";
    clock-frequency = <100000>;
    my_mpu: mpu6050@68 {
        compatible = "invensense,mpu6050";
        reg = <0x68>;
        int-gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
    };
    my_ms: ms5607@76 {
        compatible = "meas,ms5607";
        reg = <0x76>;
    };
};

&spi3 {
    status = "okay";
    pinctrl-0 = <&spim3_default>;
    pinctrl-names = "default";

    nano_spi: arduino_nano@0 {
        compatible = "vnd,spi-device";
        reg = <0>;
        spi-max-frequency = <50000>;
    };
};
